body{
    background-image: url(imagens/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    margin: 0;
}
.mosquito1{
    height: 50px;
    width: 50px;
}
.mosquito2{
    height: 70px;
    width: 70px;
}
.mosquito3{
    height: 90px;
    width: 90px;
}

.ladoA{
    transform: scaleX(1);
}

.ladoB{
    transform: scaleX(-1);
}

.caixa{
    border: 10px solid black;
    position: absolute;
    top: 90%;
}
