body{
    margin: 0;
}
#blocoGeral{
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

    border: 1px solid black;
    padding: 10px;
}