body{
    margin: 0;

}
#blocoGeral{
    position: absolute;
    top: 200px;
    left: 570px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    
    
    
    border: 1px solid black;
    padding: 10px;
}